---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div class="small">
	<a href="http://gajowkapasieki.pl/?p=11" rel="bookmark" title="Pierwsze zdjęcie z pasiek">
	<img src="http://gajowkapasieki.pl/wp-content/uploads/DSC00083.jpg" alt="Pierwsze zdjęcie z pasiek " /></a>
	</div>
</Layout>

