---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import DSC00083 from '../assets/images/DSC00083.jpg';
---

<Layout>
	<div id="content">
		<div class="small">
			<a href="/informacje" title="Pierwsze zdjęcie z pasiek">
			<Image src={DSC00083} alt="Pierwsze zdjęcie z pasiek " /></a>
		</div>
	</div>
</Layout>

