---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div id="content_page">
		<h1 id="post-2">Informacje</h1>
		<div class="postspace2">
		</div>

		<p>Dom znajduje się na skraju Puszczy Białowieskiej, 2 km od zbiornika wodnego Siemianówka. Jest to idealne miejsce dla ludzi ceniących spokój, zainteresowanych kontaktem z naturą czy wędkowaniem. Dom składa się z 2 pokoi, kuchni i łazienki. W jednym z pokoi znajduje się kominek, na zewnątrz miejsce ogniskowe.</p>
		<p>Posiada 8 miejsc noclegowych (4 pojedyncze i 2 podwójne)</p>
		<p>Cena: 100-150 zł/doba (zależnie od ilości osób)</p>
		<p><strong><br />
		</strong></p>
		<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</p>
		<p>współrzędne GPS:</p>
		<p>52°53&#8217;67&#8243;N, 23°50&#8217;52&#8243;E</p>
		<p><a href="/public/mapka-poprawiona.pdf">mapka</a></p>
	</div>
</Layout>

