---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div id="content_page">
		<h1 id="post-2">Informacje</h1>
		<div class="postspace2">
		</div>

		<p>Dom znajduje się na skraju Puszczy Białowieskiej, 2 km od zbiornika wodnego Siemianówka. Jest to idealne miejsce dla ludzi ceniących spokój, zainteresowanych kontaktem z naturą czy wędkowaniem. Dom składa się z 2 pokoi, kuchni i łazienki. W jednym z pokoi znajduje się kominek, na zewnątrz miejsce ogniskowe.</p>
		<p>Posiada 8 miejsc noclegowych (4 pojedyncze i 2 podwójne)</p>
		<p>Cena: 100-150 zł/doba (zależnie od ilości osób)</p>
		<p><strong><br />
		</strong></p>
		<p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</p>
		<p>współrzędne GPS:</p>
		<p>52°53&#8217;67&#8243;N, 23°50&#8217;52&#8243;E</p>
		<p><a href="/mapka-poprawiona.pdf">Mapa PDF</a></p>
		<p><a href="https://maps.app.goo.gl/mqgPaQdTCV3gv6Ur8" target="_blank">Zobacz w Google Maps</a></p>

		<div id="map"></div>
	</div>

	<script>
		import 'leaflet/dist/leaflet.css';
		import L from 'leaflet';

		document.addEventListener('DOMContentLoaded', () => {
			const map = L.map('map').setView([52.88345454600178, 23.845425445567766], 15);
			L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(map);

			L.marker([52.88345454600178, 23.845425445567766], {
				icon: L.icon({
					iconUrl: 'https://gajowkapasieki.pl/marker.png',
					iconSize: [48, 48],
					iconAnchor: [24, 48],
					popupAnchor: [1, -34]
				})
			}).addTo(map);
		});
	</script>
</Layout>

<style>
	#map {
		height: 400px;
		width: 100%;
		margin: 20px 0;
	}
</style>
