---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div id="content_page">
		<h1 id="post-8">Kontakt</h1>
		<div class="postspace2">
		</div>
		<p>Wiesław Stolc</p>
		<p>Pasieki 1</p>
		<p>17-220 Narewka</p>
		<p>tel. 500 121 976</p>
		<p>85/685 81 96</p>
		<p>e-mail: wojtekstolc@gmail.com</p>
	</div>
</Layout>