---
---
<div id="headerleft">
    <h1><a href="http://gajowkapasieki.pl/">Gajówka Pasieki</a></h1>
    <h2>Urocze miejsce w Puszczy Białowieskiej cisza - natura - swoboda - <br />również wędkowanie (2km od zbiornika wodnego Siemianówka)</h2>
</div>
